<!-- Fixed Action Button -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a href="/user/text_post/new" class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a href="/user/photo_post/new" class="btn-floating green"><i class="material-icons">insert_photo</i></a></li>
  </ul>
</div>

<div class="container">
  <h1 class="indigo-text"><%= @vault.name %></h1>

<div>
    <div class="grid">
    <% if @text_posts %>
      <% @text_posts.each do |text_post| %>
        <!-- <div class="row"> -->
          <div class="grid-item">
            <div class="card white hoverable">
              <div class="card-content">
                <span class="card-title cyan-text"><%=  text_post[:title] %></span>
                <p><%= text_post[:body] %></p>
              </div>
              <div class="card-action cyan white-text">
                <%=  User.find(text_post[:user_id]).name %>, <%=  Vault.find(text_post[:vault_id]).name %> <br> <%= text_post[:created_at].to_date %>
              </div>
            </div>
          </div>
        <!-- </div> -->
      <% end %>
    <% end %>


    <% if @photo_posts %>
      <% @photo_posts.each do |photo_post| %>
        <div class="grid-item">
          <div class="card hoverable">
            <div class="card-image">
              <img src='/images/<%= photo_post[:file_path] %>' />
            </div>
<!--             <div class="card-content">
              <h5></h5>
            </div> -->
            <div class="card-action">
              <a href="#"><%= photo_post[:caption] %></a>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    </div>
  </div>

</div>


