<h1>Welcome to Vault</h1>
<h4>You are logged in as <%= @current_user.name %>.</h4>


<!-- User adds new content -->
<div>
  <h3>+ Add new:</h3>
  <select onChange="window.location.href=this.value">
    <option value="">+ Add New</option>
    <option value="user/photo_post/new">Photo</option>
    <option value="user/text_post/new">Text</option>
    <option value="/vault/new">Vault</option>
  </select>
</div>

<br>


<!-- User join a vault (UserVaultRelation) -->
<div>
  <h4><a href="user/user_vault/new" role="button">Join a Vault</a></h4>
</div>


<!-- Show content from users all vaults -->
<div>
  <h3>Show all content from vaults you belong to:</h3>
  <% @photo_posts.each do |photo_post| %>
    <div class="photo_posts">
      <h4><%=  photo_post.caption %></h4>
      <p>User: <%=  User.find(photo_post.user_id).name %> </p>
      <p>File_path: <%= photo_post.file_path %></p>
      <p>Created at: <%= photo_post.created_at %></p>
    </div>
  <% end %>
</div>


<!--     NEED FIX! -->
<!-- Adding the option to go to individual vault pages -->
<div>
  <h3>Choose a single vault you want to see:</h3>
    <select onChange="window.location.href=this.value">
    <option value="user">All Vaults</option>


  </select>
</div>


<hr/>

<div>
  <h4><a href="../logout" role="button">Logout</a></h4>
</div>
