<h1> checkout these pictures </h1>

<% sorted_by_date = @all_posts.sort_by { |type| type[:created_at]} %>
  <% sorted_by_date.reverse.each do |post| %>
    <% if post.is_a?(PhotoPost) %>

      <div class="card hoverable grid-item">
        <div class="card-image">
          <img src='/images/<%= post[:file_path] %>' />
        </div>
        <div class="card-action">
          <a href="#"><%= post[:caption] %></a>
        </div>
      </div>

    <%else %>

      <div class="card white hoverable grid-item">
        <div class="card-content">
          <span class="card-title blue-text text-darken-3"><%=  post[:title] %></span>
            <p><%= post[:body] %></p>
        </div>
        <div class="card-action blue white-text">
          <%=  User.find(post[:user_id]).name %>, <%=  Vault.find(post[:vault_id]).name %> <br> <%= post[:created_at].to_date %>
        </div>
      </div>

    <% end %>
  <%end %>








      <% if @text_posts %>
      <% @text_posts.reverse.each do |text_post| %>
        <!-- <div class="row"> -->
          
            <div class="card white hoverable grid-item">
              <div class="card-content">
                <span class="card-title blue-text text-darken-3"><%=  text_post[:title] %></span>
                <p><%= text_post[:body] %></p>
              </div>
              <div class="card-action blue white-text">
                <%=  User.find(text_post[:user_id]).name %>, <%=  Vault.find(text_post[:vault_id]).name %> <br> <%= text_post[:created_at].to_date %>
              </div>
            </div>
          
        <!-- </div> -->
      <% end %>
    <% end %>

    <% if @photo_posts %>
      <% @photo_posts.each do |photo_post| %>
          <div class="card hoverable grid-item">
            <div class="card-image">
              <img src='/images/<%= photo_post[:file_path] %>' />
            </div>
            <div class="card-action">
              <a href="#"><%= photo_post[:caption] %></a>
            </div>
          </div>
        
      <% end %>
    <% end %>